/* Imports */
@import url("pygment.css");

header nav ul li {
  display: inline;
}

figure {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
}

figure img {
	width: 100%;
}


.readmore {
	text-align: right;
}