/* Imports */
@import url("pygment.css");

header nav ul li {
  display: inline;
}

figure {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
}

figure img {
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.readmore {
  text-align: right;
}

.rightside {
  float: right;
}