/* Imports */
@import url("pygment.css");

header > h1 > a {
	text-decoration: none;
}

header nav ul li {
  display: inline;
}

figure {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
}

figure img {
  max-width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1000px) {
	body {
		width: 900px;
	}
}


.readmore {
  text-align: right;
}

.rightside {
  float: right;
}

.websitetitle {
  font-size: 2em;
  margin-bottom: 0px;
}

header > nav {
  margin-top: 0px;
}