<p class="articleFooterP">Category:
	<a class="p-category" href="{{ SITEURL}}/{{ article.category.url }}">
    <span itemprop="articleSection">{{ article.category }}</span>
  </a>
  <span class="rightside">
    <time
      class="dt-published"
      datetime="{{ article.date.isoformat() }}"
      itemprop="dateCreated datePublished">
        {{ article.date.strftime("%B %d, %Y") }}
    </time>
  </span>
  <br />

{%- if article.tags %}
  <span itemprop="keywords">
    {% for tag in article.tags %}
      <a
        class="tag"
        rel="category tag"
        href="{{ SITEURL }}/{{ tag.url }}">
          {{ tag }}
      </a>
    {% endfor %}
  </span>
{% endif %}

{%- if article.modified %}
  <span class="rightside">Modified:
  	<time
      class="dt-updated"
  	  datetime="{{ article.modified.isoformat() }}"
  	  itemprop="dateModified">
        {{ article.date.strftime("%B %d, %Y") }}
      </time>
  </span>
{% endif %}
</p>

{% if AUTHOR %}
<details itemprop="author" itemscope itemtype="https://schema.org/Person" class="p-author h-card hidden">
  <summary itemprop="name" class="p-name">{{ AUTHOR }}</summary>
  {%- if AUTHOR_IMAGE %}
  <img itemprop="image" class="u-photo"
    src="{{ AUTHOR_IMAGE }}"
    alt="Author's Profile." />
  {% endif %}
  {%- if AUTHOR_NOTE %}
  <p class="p-note">{{ AUTHOR_NOTE }}</p>
  {% endif %}
  {%- if AUTHOR_URL %}
  <p><a itemprop="url" class="u-url u-uid"
    rel="me" href="{{ AUTHOR_URL }}"
    title="Author Website.">
    {{ AUTHOR }}</a></p>
  {% endif %}


</details>
{% endif %}