{% extends "base.html" %}
{% block content %}
<main class="articlelisting content">



{% for article in articles_page.object_list %}
<article
  class="post hentry h-entry"
  itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
{% include "includes/article_header.html" %}
<div class="e-content post-body" itemprop="articleBody">
{{ article.content }}
</div>

<p class="readmore u-url">
  <a
    rel="bookmark"
    title="{{ article.title|striptags }} «{{ SITENAME }}»"
    href="{{ article.url }}"
    itemprop="url">Permalink
  </a>
</p>
<footer>
{% include "includes/article_footer.html" %}
</footer>
</article>
<hr />
{% endfor %}



</main>


{% if MICROBLOG_USERNAME %}
<aside class="sidebar">
  <h1>Recent Micro.blog posts</h1>
<script type="text/javascript" src="https://micro.blog/sidebar.js?username={{ MICROBLOG_USERNAME }}"></script>
</aside>
{% endif -%}


{% endblock content %}