{% extends "base.html" %}
{% block content %}
<main class="articlelisting">
{% for article in articles_page.object_list %}
<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
{% include "includes/article_header.html" %}
<section itemprop="articleBody">
{{ article.content }}
</section>
<p class="readmore"><a rel="bookmark"
   title="{{ article.title|striptags }} «{{ SITENAME }}»"
   href="{{ article.url }}"
   itemprop="url">Permalink</a></p>
<footer>
{% include "includes/article_footer.html" %}
</footer>
</article>

{% endfor %}
</main>
{% include "includes/pagination.html" %}
{% endblock content %}