{% extends "base.html" %}
{% block content %}
<main class="articlelisting content">



{% for article in articles_page.object_list %}
<article
  class="post hentry h-entry"
  itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
{% include "includes/article_header.html" %}
<div class="e-content post-body" itemprop="articleBody">
{{ article.content }}
</div>

<p class="readmore u-url">
  <a
    rel="bookmark"
    title="{{ article.title|striptags }} «{{ SITENAME }}»"
    href="{{ article.url }}"
    itemprop="url">Permalink
  </a>
</p>
<footer>
{% include "includes/article_footer.html" %}
</footer>
</article>
<hr />
{% endfor %}



</main>


{% if MICROBLOG_USERNAME %}
<aside class="sidebar">
<h2>
<a
  rel="external"
  href="https://micro.blog/{{ MICROBLOG_USERNAME }}"
  title="Micro.blog for {{ MICROBLOG_USERNAME }}"
  class="u-url"
  itemprop="url">
Micro.blog posts
</a>
</h2>
<script type="text/javascript" src="https://micro.blog/sidebar.js?username={{ MICROBLOG_USERNAME }}"></script>
</aside>
{% endif -%}


{% endblock content %}